Notes/STAT653Notes.aux
Notes/STAT653Notes.log
Notes/STAT653Notes.out
Notes/STAT653Notes.synctex.gz
Notes/STAT653Notes.toc


HW/

Syllabus653_Spring2025.pdf
Stat 653, Feb 27..pdf
STAT653_1April2025.pdf
Result X-T.pdf
Resized_20250421_132838.jpeg
final-prac-assign.pdf
errata_BickelandDoksum.pdf
FinalExamStat653Spring2025.pdf
Page1.jpg
Page2.jpg
moments of standard normal density function.pdf
LehmannandCasella_2003 Theory of Point Estimation.pdf
topdf.pdf